
# Atom snippets for workshop2

'.text.html, .text.html .meta.scope.between-tag-pair, .text.html .punctuation.tag.begin':
    'Step 7':
        'prefix': '7.'
        'body': ' ng-app="todo"'


'.source.js':
    'Step 1':
        'prefix': '1.'
        'body': 'var app = angular.module(\'todo\', []);'
